# Игнорируем виртуальные окружения
.venv/
venv/

# Игнорируем кэш Python
**/__pycache__/
*.pyc

# Игнорируем историю версий и настройки IDE
.git/
.vscode/
.idea/

# Игнорируем локальные базы данных (если они создаются динамически)
*.db
